.place__link {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.place__link:hover {
  opacity: 0.8;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

@media screen and (max-width: 660px) {
  .place__link {
    padding-left: 16px;
    padding-right: 16px;
  }
}